<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>q3a5UPyvyJjyqWhL0PRFbvfDosKCBcNRlACYf0/9m4DwaGwwj4c1P0nMyFxrbBk1SHQ4Fm31zluqodRVJzeOux0D41LVhqKruE9jmQhD09qweLZIcrAH6ruEv2+qeDyvULuQBpdBUjJ6mQUa39hoQXPwxdQPjtedJgoyAz3Tr9ifKHVAaHVkO/Bs4bFvtX7aVQvb1CpdE1JPVfPAK/SPuZnLzw2Zu8EZvr0s0CquepdLAzpRfb6NdFRTwDzMXYYx3PxkwlAWGsiLGJD0BWJ/u48zepf9hSKpowqrEtouFoCBs1Ly0ut1TTLMj09ZPvWO9dJz/D/j3cKQbYdpf360Fw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>0lrEBJ5FZAc6e6os8/BTnITLkMhmFzIhT6jzwhfbDCnok6StjiSrNkY5RqL9GpZotzEh56rV2eH7/CVJBz+km9qe9B1ZE2yNfuVb6Fg5B71ExcapCneZ9s9j28TexXKvujW+gUDeNhKWoIe2lZfNO+QGmk9uIodVBpv2j+FeYOZO10WS7HgHCI+luNld5/qrI9wHLdrrc/1IzDFltNrOKQ5fZc0ICnfgGaN//Bqp30wsIcWgn8trPY9t+mdcCh5z5zPQvOzTCSqBPo0RgAYLQxbY+id5IBQFlrd0zXmWt14t0BCSsOkA9sJ6/+J6Nh7uGw3F6JKXNhjS8raMebZG/ab2qIWBy0hk/eMnFYJumEsNi3GQQSDeddfQVc2aUmLdx1oSOu72jbwqAuFZ5QCMzENyw0ezlOEOSggqa8pv/XHGq9CBEroe/0iQfeGajA/+PRX3s70t0R0a/MOeG+gMWZJEL7InkN52psWlaL84sxXO9+GHKxeTPGbWZ8Zd5fU0OcUwPU0vXlJkYyHxZYVPUA1lE91EyTdBLIYsglFdj1v+fQ9VlVXzNba/aFGWgcsRfnCUz0E/21Dq50shVWMbtS3sm02tNlkOFoChtDF0WdeCGh+aTx3xQsJAaHBUqTLd4zUga2kutr/EITuy1mZrobTTZKSxJ0Xb</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: D6818E0D-0A42-41AA-95EC-77FF3E3920F8-->